div.search, div.searchTag {
  width: 80%;
  margin: auto;
}

div.search input {
  /* border-style: outset; */
  width: 80%;
}

div.searchTag input {
  /* border-style: outset; */
  width: 80%;
}

input:focus{
  outline: none;
}

